body{
    padding: 0 2px;
    margin: 0;
    background-color: #283747;
    font-family: monospace;
}
body input{
	font-family: monospace;	
	text-transform: capitalize;
}
body select{
	font-family: monospace;
	text-transform: capitalize;
}

.head{
    background-color: red;
    width: 300px;
    overflow: hidden;
    height: 30px;
    border-radius: 5px;
    background-color: #063351;
}

.head > label{
    color: #FFFF;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 12px;
    margin: 5px 6px;
    float: left;
}
.head > a{
    cursor: pointer;
    float: right;
    margin: 5px 6px;
    color: #FFFF;
    background-color: rgba(255,255,255,0.3);
    padding: 2px 3px;
    border-radius: 5px;
    transition: .3s;
}
.head > a:hover{
    background-color: rgba(255,255,255,0.6);
    border-radius: 3px;
}




.ContentForm{
    border-radius: 2px;
    position: fixed;
    padding: 2px;
    width: 305px;
    bottom: 0%;
}
.ContentForm input{
    border: 1px solid #D3D3D3;
    width: 10%;
}
.ContentForm button{
    /*background-color: #50C878;*/
    background: none;
    font-weight: bold;
    color: #50C878;
    border: 1px solid #50C878;
    border-radius: 3px;
    margin-left: 35%;
}
.ContentForm button:hover{
    cursor: pointer;
    color: #FFF;
    box-shadow: 0px 0px 8px #11c255;
    background-color: #048535;
    transition: 0.3s;
}
.ContenMain{
    padding: 3px;
    background-color: #FFF;
    border-radius: 3px;
    width: 295px;
    font-weight: bold;
    margin-top: 5px;
}
.contenido{
    width: 100%;
    padding: 0.5px 0;
}
p{
    display: inline;
}
div select{
    border-radius: 3px;
    /*box-shadow: 0px 1px 0.5px #D3D3D3;*/
    border: none;
    margin: 0 1px;
    background-color: rgba(215, 219, 221, 0.5);
    font-weight: bold;
    outline: none;
    appearance: none;
    text-align: center;
}
div select option{
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid gray;
}
div input{
    width: 37%;
    border-radius: 3px;
    /*box-shadow: 0px 1px 0.5px #D3D3D3;*/
    border: none;
    background-color: rgba(215, 219, 221, 0.5);
    outline: none;
}
.StateOff{
    background-color: #2F4F4F;
    color: #FF0000;
    
    border: none;
}
.StateOn{
    color: #00FA9A;
    
    border: none;
    background-color: #2F4F4F;
}
.StateRec{
    background-color: #2F4F4F;
    color: #FFD700 ;
}
.StateRec option{
    color: #000;
}
.StateOp{
    background-color: #2F4F4F;
    color: #00BFFF;
}

.ContentInfo{
    width: 295px;
    height: 28px;
    text-align: center;
    background-color: #FFF;
    border-radius: 3px;
    padding: 3px;
    margin-top: 2px;
    font-size: small;
    overflow: hidden;
    transition: height 0.3s linear;
}
.ContentInfo:hover{
	height: 55px;
}
.ContentInfo label{
    display: block;
    font-weight: bold;
}

.ContentTable{
    width: 295px;
    text-align: center;
    background-color: #FFFFF0;
    border-radius: 3px;
    padding: 3px;
    margin-top: 2px;
    font-size: small;
    font-weight: bold;
}
.body-table{
    margin-top: 15px;
    height: 6em;
    overflow: auto;
}
.ContentTable table tr td input{
    width: 100%;
    font-weight: bold;
    text-align: center;
    /*box-shadow: 0px 1px 0.5px #D3D3D3;*/
    border: none;
    outline: none;
    background-color: rgba(215, 219, 221, 0.5);
    padding: 0;
}
.body-table::-webkit-scrollbar{
    width: 5px;
}
.body-table::-webkit-scrollbar-thumb{
    background-color: #797D7F;
    border-radius: 5px;
}
